.primary {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.secondary {
  border: 1px dashed var(--primary-color);
  color: var(--primary-color);
}

.primary,
.secondary {
  font-weight: 500;
  border-radius: 6px;
  padding: 12px 18px;
  gap: 8px;
}
