.link {
  display: inline-flex;
  align-items: center;
  gap: 2rem;
}

.link:hover {
  transform: translate(4px, 0);
}

.title {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: 500;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
}

.title,
.details {
  margin: 0;
}

@media (max-width: 960px) {
  .link {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
  }
}
